@media print {
    body {
        background-color: white;
        color: black;
    }
    
    .navbar, footer {
        display: none;
    }

    h1, h2 {
        color: black;
        font-family: "Roboto", sans-serif;
    }

    .code, code {
        background-color: white !important;
        color: black !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

:root {
    --surface: #1B262C;
    --primary: #0F4C75;
    --secondary: #3282B8;
    --tertiary: #BBE1FA;
    scrollbar-color: var(--secondary) var(--surface);
}

body {
    background-color: var(--surface);
    margin: 20px;
}

.navbar {
    background-color: var(--primary);
    padding: 10px;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    animation: anime 0.5s ease-in;
}

@keyframes anime {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar a {
    color: var(--tertiary);
    text-decoration: none;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-family: "Roboto", serif;
    text-align: center;
    margin-top: 20px;
    color: var(--tertiary);
    font-size: 36px;
}

h2 {
    font-family: "Roboto", serif;
    margin-bottom: 24px;
    color: var(--tertiary);
    font-size: 28px;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--tertiary);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary);
    color: var(--tertiary);
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
}

footer a {
    color: var(--tertiary);
    text-decoration: underline;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--tertiary);
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

code {
    font-family: "Roboto Mono", monospace;
    background-color: var(--surface);
    padding: 2px 6px;
    border-radius: 5px;
    color: var(--tertiary);
    border: #0F4C75 solid 1px;
    border-radius: 8px;
}

ul {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: var(--tertiary);
    line-height: 1.6;
}

small {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    color: var(--tertiary);
}