/*
    surface: 1B262C, //background
    primary: 0F4C75, //shades
    secondary: 3282B8, //buttons
    tertiary: BBE1FA, //text
*/
body {
    background-color: #1B262C;
    margin: 20px;
}

.navbar {
    background-color: #0F4C75;
    padding: 10px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    /*animation: anime 0.5s ease-in;*/
}

@keyframes anime {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar a {
    color: #BBE1FA;
    text-decoration: none;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #BBE1FA;
}

h2 {
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    color: #BBE1FA;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #BBE1FA;
}

ul {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #BBE1FA;
    list-style-type: "↪ ";
}

tr {
    font-family: "Roboto", sans-serif;
    color: #BBE1FA;
}

table {
    border: #3282B8 1px solid;
    width: 100%;
    margin-bottom: 20px;
}

th {
    background-color: #3282B8;
    color: #BBE1FA;
    padding: 10px;
    text-align: left;
    font-family: "Roboto", sans-serif;
}

caption {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    color: #BBE1FA;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0F4C75;
    font-family: "Roboto", sans-serif;
}

footer a {
    color: #BBE1FA;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.gh_badges_div {
    gap: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.definition_div {
    display: block;
    background-color: #0F4C75;
    padding: 15px;
    border-left: 5px solid #3282B8;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.definition_div p {
    margin: 0;
    color: #BBE1FA;
}

.downloads {
    text-align: center;
    margin-top: 20px;
}

.source_code {
    text-align: center;
    margin-top: 10px;
}

.btn {
 display: inline-block;
 padding: 0.9rem 1.8rem;
 font-size: 16px;
 font-weight: 700;
 color: #BBE1FA;
 border: 3px solid #3282B8;
 border-radius: 50px;
 margin: 10px;
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
}

.btn::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #3282B8;
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.btn:hover::before {
 transform: translateX(0);
}